/* You can add custom styles here */

.youtube-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.youtube-grid lite-youtube {
  display: block;
  width: 100%;
}
